* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/pc-images/内容底板@2x.png) no-repeat;
  background-size: cover;
  line-height: 1.15;
  word-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  /* IE6,7专有 */
  zoom: 1;
}
.header {
  background: url(../images/pc-images/网页顶部.png) no-repeat top center;
  background-size: 100%;
  width: 24rem;
  height: 4.0375rem;
}
.course {
  padding-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course img {
  width: 5.8125rem;
}
.course .course-con {
  position: relative;
  background: url(../images/pc-images/course_bg.png) no-repeat;
  background-size: 100%;
  margin-top: 1.375rem;
  width: 11.425rem;
}
.con-hd .con-left {
  position: relative;
  float: left;
  width: 5.625rem;
  height: 3.75rem;
}
.con-hd .con-left .cousre-play {
  position: absolute;
  top: -0.5625rem;
  margin-left: 0.3125rem;
}
.con-hd .con-left img {
  width: 5.325rem;
}
.con-hd .con-right {
  float: right;
  position: relative;
  padding-left: 0.375rem;
  width: 5.625rem;
  height: 3.75rem;
}
.con-hd .con-right img {
  padding-left: 0.375rem;
  position: absolute;
  top: -0.375rem;
  left: 0;
  width: 2.0625rem;
}
.con-hd .con-right .con-title {
  padding-top: 0.75rem;
  background: url(../images/pc-images/decoration@2x.png) no-repeat;
  background-size: 1.55rem;
}
.con-hd .con-right .con-title #course_title {
  width: 4.8125rem;
  float: left;
  font-size: 0.2125rem;
  font-weight: 700;
  color: #b7b9eb;
}
.con-hd .con-right .con-title #course_title::before {
  content: "";
  float: left;
  vertical-align: top;
  background-color: #b7b9eb;
  width: 0.0625rem;
  height: 0.625rem;
  margin-right: 0.2375rem;
}
.con-hd .con-right .con-desp {
  width: 4.8125rem;
  padding-top: 0.5625rem;
  font-size: 0.175rem;
  color: #b7b9eb;
}
.con-hd .con-right button {
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  outline: none;
  border: 0;
  background: url(../images/pc-images/btn@2x.png) no-repeat;
  background-size: 100%;
  width: 1.775rem;
  height: 0.4625rem;
  color: #7c6271;
  font-size: 0.175rem;
  cursor: pointer;
  transition: all 0.5s;
}
.con-hd .con-right button:hover {
  font-size: 0.2rem;
}
.con-bd {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.con-bd .bd-title {
  background: url(../images/pc-images/标题方块@2x.png) no-repeat;
  background-size: 100%;
  width: 3.075rem;
  height: 0.0875rem;
  line-height: 0.0875rem;
  text-align: center;
  color: #fff;
  font-size: 0.125rem;
  padding-bottom: 0.3125rem;
}
.con-bd .bd-video {
  display: flex;
  flex-direction: row;
}
.con-bd .bd-video .bd-right {
  width: 3.675rem;
  margin-left: 0.4375rem;
}
.con-bd .bd-video .bd-left {
  width: 3.675rem;
  margin-right: 0.4375rem;
}
.con-bd .bd-video img {
  width: 100%;
}
.con-bd .bd-video .desp {
  padding-top: 0.25rem;
  width: 3.675rem;
  font-size: 0.1875rem;
  color: #fff;
}
.right {
  padding-top: 1.125rem;
  padding-bottom: 1.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right div:first-child {
  width: 6.9375rem;
}
.right div:last-child {
  width: 11.475rem;
}
.right div img {
  width: 100%;
}
.video-play {
  position: relative;
}
.video-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/pc-images/play@2x.png) no-repeat;
  background-size: 100%;
  width: 0.55rem;
  height: 0.55rem;
  cursor: pointer;
  transition: all 0.5s;
}
.video-mask:hover {
  width: 0.825rem;
  height: 0.825rem;
}
.fuli {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fuli img {
  width: 7.4625rem;
}
.fuli img:nth-child(2) {
  margin-top: 0.9375rem;
  margin-bottom: 0.75rem;
  width: 9.1625rem;
}
.fuli img:nth-child(3) {
  width: 1.25rem;
}
.fuli .fuli-add {
  padding-top: 0.375rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fuli .fuli-add h2 {
  color: #eed0b8;
  font-size: 0.225rem;
}
.fuli .fuli-add p {
  padding: 0.1125rem 0;
  color: #cdcdd2;
  font-size: 0.2rem;
}
.fuli .fuli-add p span {
  color: #eed0b8;
}
.fuli .fuli-add b {
  color: #cdcdd2;
  font-size: 0.175rem;
}
.erweima {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translateX(7.5rem);
  width: 1.65rem;
  height: 2.9625rem;
}
.erweima img {
  width: 100%;
}
.mask-big {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mask-big video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}
